@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root {
		--transition: 300ms ease-in;
		--nav-transition: 400ms ease-in-out;
		--transition-timing: 400ms;
		--light-grey: #ececec;
}

*,
*::before,
*::after {
		box-sizing: border-box;
}

body {
		margin: 0;
		width: 100vw;
		height: 100vh;		
		background: whitesmoke;
}

a {
		text-decoration: none;
}

header {
		position: relative;
		box-shadow: 1px 0px 5px 1px rgba(0,0,0,0.7);
		display: flex;
		justify-content: space-between;
}

header > button {
		border: none;
		background: none;
		font-size: clamp(1.7em, 3vw, 2.5em);
}

	main {
		display: grid;
		grid-template-columns: 1fr;
		gap: 0 5px;
		border: 2px solid red;
		height: 100%;
}

main nav {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		width: 50%;
		background: white;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-bottom: 1rem;
		box-shadow: 0px 1px 8px rgba(0,0,0,0.5);
		opacity: 0;
		visibility: hidden;
		overflow: hidden;
		pointer-events: none;
		transform: translateX(-6rem);
		z-index: 1;
}

main nav.open {
		visibility: visible;
		overflow: auto;		
		pointer-events: auto;
		animation: slideInLeft var(--transition-timing) forwards;
}

@keyframes slideInLeft {
		100% {
				transform: translateX(0);
				opacity: 1;
		}
}

hr {
		background: lightgray;
		width: 90%;
		height: 0.1rem;
		border: none;
		border-radius: 0.1rem;
		margin-bottom: 1rem;
}

.logo-div {
		padding: 1.5rem;
}

.logo-div > img {
		width: 100%;
		height: 100%;
		border-radius: 1rem;
}

/*nav styles*/
nav ul {
		list-style: none;
		padding: 0;
		margin: 0;
}

 nav ul li > a {
		font-size: clamp(1em, 3vw, 1.5em);
		font-weight: bold;
		color: black;
		width: 100%;
		height: 100%;
}

nav ul li {
		padding: 0.5rem 0;
		transition: transform var(--transition);
		cursor: pointer;
}

nav ul > li > i {
		margin-inline: 1rem;
		transition: color var(--transition);
}

nav ul li:hover,
nav ul li:focus {
		transform: scale(1.1);
		background: var(--light-grey);
}

/*Change the icon color to black if it contains open class*/
nav ul li.open:hover i,
nav ul li.open:focus i {
		color: black;
}

ul > li.open {
		background: black;		
}

li.open i,
li.open a {
		color: white;
}

li.open:hover a,
li.open:focus a {
		text-shadow: 1px 0 1px rgba(0,0,0,0.4);
}

/*Nav items*/
/*top section mav items*/
.nav-links-container .img-div ~ ul,
/*Bottom section of nav*/
.bottom-sec-nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 1rem 0;
		white-space: nowrap;
}

.close-btn {
		position: absolute;
		top: -1%;
		right: 2%;
		font-size: clamp(2em, 3vw, 3em);
		cursor: pointer;
}

/*Right nav bar*/
.right-navBar {
		display: flex;
		flex-direction: column;
		gap: 10px 0;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		width: 70%;
		background: whitesmoke;
		box-shadow: 0px 1px 8px rgba(0,0,0,0.5);
		opacity: 0;
		visibility: hidden;
		overflow: hidden;		
		pointer-events: none;
		transform: translateX(6rem);
		transition: all var(	--nav-transition);
		z-index: 1;
}

.right-navBar.open {
		opacity: 1;
		visibility: visible;
		overflow: auto;
		pointer-events: auto;
		transform: translateX(0);
}

.right-navBar .profile-container {
		display: flex;
		gap: 0 10px;
		background: #fff;
		padding: 0.8rem 1rem;
		position: relative;
		cursor: pointer;
}

 /*Right nav close btn*/
.RVCloseBtn {
		position: absolute;
		top: -0.5%;
		left: 1%;
		z-index: 2;
		font-size: clamp(1.4em, 3vw, 1.8em);
		cursor: pointer;
}

.profile-img {
		min-width: 3.3rem;
		max-width: 4rem;
		min-height: 2.5rem;
		max-height: 3.5rem;
}

.right-navBar .profile-container > .profile-img > img {
		width: 100%;
		height: 100%;
}

.profile-info {
		display: flex;
		justify-content: space-between;
		width: 100%;
}

.profile-info > div > p:not(.grey) {
		font-size: clamp(1em, 3vw, 1.4em);
		margin: 0;
}

/*to grey text color*/
.grey {
		font-size: clamp(0.9em, 3vw, 1.1em);
		color: grey;
}

.search,
.buyer-info {
		display: flex;
		justify-content: space-between;
		align-content: center;
		background: #fff;
		padding: 0.4rem 0.8rem;
		cursor: pointer;
}

.search p {
		margin: 0;
}

.search > input {
		padding: 0.1rem;
		font-size: clamp(0.5em, 3vw, 1em);
		width: 30%;
		transition: width var(--nav-transition);
		cursor: pointer;
}

.search > input:hover {
		width: 55%;
}

.buyers-list {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 0 10px;
}

.buyers-info {
		padding: 0.5rem 0;
}

.buyer-info p:not(.grey) {
		font-size: clamp(1em, 3vw, 1.5em);
}

.buyer-info p {
		margin: 0;
}

section {
		padding: 0.5rem 0;
}

section > article {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0.5rem;
}

section > article > .dashboard p {
		margin: 0;
		font-family: 'Montserrat', sans-serif;
}

section > article > .dashboard p:first-child {
		font-size: clamp(1.1em, 3vw, 1.7em);
		margin-bottom: 0.3rem;
		font-weight: bold;
}

section > article > .dashboard p:nth-child(2) {
		font-size: clamp(1em, 3vw, 1.4em);
}

section > article > i {
		padding: 0.7em;
		border-radius: 0.2rem;
		background: #fff;		
}

.inventory {
		margin-top: 45%;
		display: flex;
		flex-direction: column;
		gap: 5px 0;
		background: #fff;
		padding: 0.5rem ;
}

.inventory-heading p, .inventory-heading a {
		font-size: clamp(1.1em, 3vw, 1.5em);
}

.inventory-heading a {
		color: #6ab6ff;
		cursor: pointer;
}

.inventory-heading {
		display: flex;
		justify-content: space-between;
		align-items: center;
}

.add-image {
		width: 6rem;
		height: 10rem;
		border: 2px dotted black;
		display: flex;
		align-items: center;
		justify-content: center;
}

.images {
		display: flex;
		gap: 10px 10px;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
}

.images > .inventory-images {
		width: 6rem;
		height: 7rem;
		border: 1px solid lightgray;
		transition: all var(--nav-transition);
		cursor: pointer;
		text-align: center;		
}

.images > .inventory-images p {
		margin: 0;
		padding: 0;
}

.images > .inventory-images > img {
		width: 100%;
		height: 100%;
}

.images > .inventory-images:hover,
.images > .inventory-images:focus {
		border: 1px solid #8098ff;
		box-shadow: 1px 0px 4px rgba(0,0,0,0.5);
}

.images > .inventory-images p {
		font-size: clamp(1em, 3vw, 1.5em);
}

@media screen and (min-width: 2560px){
		main {
		display: grid;
		grid-template-columns: 1fr 4fr 1fr;
		gap: 0 5px;
		border: 2px solid red;
		height: 100%;
}
}
